
.archive-year-wrap
  margin-left: 100px;
  margin-bottom: 1em
  h1
    font-size: 46px

.archive-year
  color: color-theme

.archive-year:before
  margin-right: .2em

.archive-post-date
  margin-left: 150px;
  min-width: 85px
  color: #AAA;
  text-decoration: none
  line-height: 1.6em
  margin-right: 15px
  font-size: 20px;


.archive-post-title
  text-decoration: none
  color: green;
  font-size: 20px;
  border-left: 1px solid green;
  padding-left: 15px;
  &:hover
    color: #368CCB;

