.article {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 4px #ddd;
}

.headerlink {
  background-color: red;
}