<footer id="footer">
    <p> Powered_by
     <a href="http://hexo.io/" target="_blank">Hexo</a>
     and 
     <a href="https://github.com/caozhenwei/zw_theme" target="_blank">Hexo-theme-zw_theme  
     </a> 
      , copyright &copy; <%= theme.since ||  (date(new Date(), 'YYYY')-1)%> - <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %> All Rights Reserved.
    </p>
</footer>