.header {
  margin-top: 2em
  display: flex
  justify-content: space-between
  /*background-color: yellow;*/
  height: 100px;

  .blog-title {
    margin-left: 50px;
    /*background-color: red;*/
  }

  .blog-title .logo {
    width: 80px;
    height: 80px;
  }

  .blog-title .title {
    color: #AAA;
    font-size: 2em;
    text-decoration: none;
  }

  .menu {
    margin: 0;
    padding: 0;
    /*background-color: green;*/

    .menu-item {
      display: inline-block;
      margin-right: 10px;
    }

    .menu-item-link {
      color: #AAA;
      text-decoration: none;

      &:hover {
        color: #368CCB;
      }
    }
  }
}