.page-nav {
	display: flex;
	justify-content: center;
}

.extend {
	color: green;

	&:hover {
		color: #368CCB;
  	}
}

.page-number {
	margin-left: 15px;
	margin-right: 15px;
}

.page-number {
	color: green;

	&:hover {
		color: #368CCB;
  	}
}

.current {
	color: #368CCB;
}