.post {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 4px #ddd;
}

.posts  {
  .post:first-child {
    margin-top: 0;    
  }

  margin-left: 50px;
  margin-right: 50px;

  .post-title {
    font-size: 1.5em;

    .post-title-link {
      color: green;
      text-decoration: none;

      &:hover {
        color: #368CCB;
      }
    }
  }

  .post-content {
    a {
      color: #368CCB;
      text-decoration: none;
    }
  }

  .post-meta {
    color: #BABABA;

    .read-more-link {
      color: green;
      
      &:hover {
        color: #368CCB;
      }

    }
  }

  
}